/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
              Fonts
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
              RESET
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  font-family: "Roboto Condensed", sans-serif;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
              UTILITY CLASSES
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* .font-roboto-condenced {
  font-family: "Roboto Condensed", sans-serif;
} */

.bg-redorange {
  background-color: #f72210;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
}

.container {
  max-width: 98% !important;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-19 {
  font-size: 19px;
}

.font-22 {
  font-size: 22px;
}

.text-redorange {
  color: #f72210;
}

.hover-redorange:hover {
  color: #f72210;
}

.hover-light-gray:hover {
  color: #b6b6b6;
}

.img-bottom {
  left: 0;
  bottom: 0;
}

.text-black {
  color: black;
}

.text-gray {
  color: #444;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
              NAVBAR
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.weather {
  margin-top: 1.2em;
  margin-left: 2em;
}

.weather-img {
  width: 24px;
  height: 24px;
}

.weather-country {
  font-size: 15px;
}

.today-date {
  font-size: 16px;
  margin-left: 2em;
  margin-top: 0.5em;
}

.logo-svg {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn-login {
  font-size: 18px;
  margin-bottom: 1.1em;
  margin-right: 0.8em;
}

.btn-subscribe {
  background-color: #ffe400;
  border-radius: 24px;
  font-size: 18px;
  height: 35px;
  margin-right: 0.8em;
  margin-bottom: 1em;
}

.white-navbar a {
  font-size: 19px;
}

.white-navbar a:hover {
  color: #f72210 !important;
}

.white-navbar input[type="search"] {
  width: 5em;
}

::placeholder {
  font-size: 19px;
  color: #b6b6b6;
}

.white-navbar::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 5em;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.n-logo {
  width: 29px;
  height: 29px;
}

.logo-side-heading {
  font-size: 19px;
  position: relative;
  top: 0.2em;
  left: 0.5em;
}

.magazine-image img {
  height: 18em;
}

.article-link {
  font-size: 20px;
  line-height: 24px;
}

.article-link:hover {
  color: black;
}

.magazine-last-image img {
  height: 20em;
}

.summery {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(51, 51, 51);
}

.us-image img {
  height: 16em;
}

.us-sm-2-3 img {
  height: 6em;
}
